body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    min-height: 100vh;       /* Garante altura da tela */
    margin: 0;
  }
  #bEntrar {
    background-color: blueviolet;
    color: antiquewhite;
    width: 100px;
    height: 35px;
    border-radius: 50px;
  }
  